# === Private files ===
firebaseKey.json
solution_for_problems/

# === Node modules ===
node_modules/

# === Editor / System files ===
.vscode/
.DS_Store
Thumbs.db
tempCodeRunnerFile.js
.env
# === Logs ===
*.log
