/* ========== 基礎與版面 ========== */
html, body {
    margin: 0;
    height: 100%; 
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px 40px;
    gap: 30px;
}

/* ========== 通用標題樣式 ========== */

h1 {
    margin: 40px 0;
    font-size: 40px;
}

.close {
    margin: 40px auto;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    transform-origin: center;
    transition: 0.15s ease;
    cursor: pointer;
}

.detailblock {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.detailblock .INF {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100px;
    width: 1000px;
    padding: 20px;
    background-color: rgb(213, 242, 255);
    border-radius: 30px;
    border: 3px solid white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    gap: 10px;
}

.detailblock .CODE {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100px;
    width: 1000px;
    padding: 20px;
    background-color: rgb(213, 242, 255);
    border-radius: 30px;
    border: 3px solid white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    gap: 10px;
}

.detailblock .SOL {
    
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100px;
    width: 1000px;
    padding: 20px;
    background-color: rgb(213, 242, 255);
    border-radius: 30px;
    border: 3px solid white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    gap: 10px;
}
.detailblock pre {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100px;
    width: 950px;
    padding: 20px;
    border-radius: 30px;
    box-shadow:inset 0 0 5px rgba(0,0,0,0.2);
    background-color: rgb(247, 252, 255);
    gap: 10px; 
}

code {
    background: transparent !important;
    overflow-x: auto;
}

code::-webkit-scrollbar {
    height: 10px;         /* 捲軸寬度 */
}

code::-webkit-scrollbar-track {
    background: transparent; /* 捲軸軌道透明 */
}

code::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2); /* 捲軸滑塊透明度 */
    border-radius: 10px;
}

code::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,0.5);
}

.footer {
    width: 100%;
    height: 80px;
    color: #ffffff;
    background-color: #bbbbbb;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin: 0;
    text-align: center;
}