/* ========== 基礎與版面 ========== */
html, body {
    margin: 0;
    height: 100%; 
}

body {
    display: flex;
    flex-direction: column;
}

.container, .container * {
  user-select: none;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px 40px;
    gap: 30px;
}

/* ========== 通用標題樣式 ========== */
h1, h2, h3, h4, h5, h6 {
    margin: 0.2em;
}

/* ========== Header 區 ========== */
.header-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 100px;
    max-height: 130px;
    min-width: 1000px;
    margin-top: 60px;
    padding: 20px;
    background-color: rgb(213, 242, 255);
    border-radius: 30px;
    border: 3px solid white;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

.header-card p {
    font-size: 20px;
    margin: 0.2em;
}

/* ========== 搜尋卡片區 ========== */
.search-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 500px;
    padding: 20px;
    background-color: rgb(213, 242, 255);
    border-radius: 30px;
    border: 3px solid white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    gap: 10px;
}

/* ========== 搜尋結果顯示區 ========== */
.search-output {
    margin-top:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search-output .tags {
    width: 800px;
    min-height: 40px;
    border: 0;
    background-color: white;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.8); 
    border-radius: 20px;
    max-height: 150px;
    overflow-y: auto;
}

.search-output .tags::-webkit-scrollbar {
    width: 8px;         /* 捲軸寬度 */
}

.search-output .tags::-webkit-scrollbar-track {
    background: transparent; /* 捲軸軌道透明 */
}

.search-output .tags::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2); /* 捲軸滑塊透明度 */
    border-radius: 10px;
}

.search-output .tags::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,0.4);
}

.tag {
    margin: 4px 10px;
    display: flex;
    align-items: center;
    background: #f0f6fa;
    border-radius: 12px;
    padding: 4px 8px;
    border: 1px solid #000000;
    font-size: 14px;
    transform-origin: center;
    transition: 0.1s ease;

}

.tag .textContent{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tag:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.tag .remove {
    
    font-size: 20px;
    margin: 0 0 0 auto;
    cursor: pointer;
    font-weight: bold;
    color: #444;
    transform-origin: center;
    transition: 0.1s ease;
}

.tag .remove:hover {
    transform: scale(1.2);
    color: red;
}

.search-output button {
    height: 40px;
    border-radius: 10px;
    transform-origin: center;
    transition: 0.15s ease;
    cursor: pointer;
}

.search-output button:not(:disabled):hover {
    transform: scale(1.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.search-output button:disabled {
    cursor: not-allowed;
}

hr {
    border: none;
    border-top: 1px solid #5f5f5f;
    width: 95%;
    margin: 20px auto;
}

/* ========== 搜尋輸入區 ========== */
.search-form {
    margin: 20px auto 0;
    display: flex;
    padding-left: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.search-form div {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.search-form .form-row-type span {
    color: gray;
    font-size: 12px;
    padding: 0;
    margin: 0;
    padding-left: 12px;
}

.search-form input {
    min-width: 150px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 10px;
    border: 2px solid #666;
    transition: 0.1s ease;
    transform-origin: left;
}

/* Input hover/focus 效果一致 */
.search-form input[type="text"]:hover,
.search-form input[type="text"]:focus {
    transform: scale(1.05);
    border-color: black;
}

/* ========== 星號難度選擇 ========== */
.star-selector {
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
}

.star-selector span {
    color: rgb(200, 200, 200);
    font-size: 22px;
    letter-spacing: 7px;
    transition: 0.2s ease;
}

.star-selector span:hover,
.star-selector span:hover ~ span,
.star-selector span.selected,
.star-selector span.selected ~ span {
    color: rgb(0, 0, 0);
    transform: scale(1.25);
}
/* ========== 搜尋題型區 ============*/
#select-display {
    padding: 4px 8px;
    border-radius: 10px;
    transform-origin: left;
    transition: 0.15s ease;
    cursor: pointer;
}

#select-display:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* ========== 底部動作按鈕 ========== */
.action-buttons {
    margin: 80px auto 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.action-buttons button {
    padding: 4px 12px;
    border-radius: 10px;
    transform-origin: center;
    transition: 0.15s ease;
    cursor: pointer;
}

.action-buttons button:not(:disabled):hover {
    transform: scale(1.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.action-buttons button:disabled {
    cursor: not-allowed;
}
/* ========== Footer ========== */
.footer {
    width: 100%;
    height: 80px;
    color: #ffffff;
    background-color: #bbbbbb;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin: 0;
    text-align: center;
}

#type-window {
    width: 800px;
    height: 600px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.25);
    
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#alert-window {
    width: 400px;
    height: 250px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.25);
    
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.type-window-content {
    font-size: 18px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 8px 0;
    width: 750px;
    height: 500px;
    background-color: #f0f0f0;
    overflow-y: auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: inset 0 0 5px 3px #cacaca;
}

.type-window-content::-webkit-scrollbar {
    width: 8px;         /* 捲軸寬度 */
}

.type-window-content::-webkit-scrollbar-track {
    background: transparent; /* 捲軸軌道透明 */
}

.type-window-content::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.4); /* 捲軸滑塊透明度 */
    border-radius: 10px;
}

.type-window-content::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,0.6);
}

.alert-window-content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    width: 350px;
    height: 200px;
    overflow-y: hidden;
}

.cate-item {
    display: flex;
    align-items: center;
}

.type-window-btn {
    display: flex;
    gap: 20px;
}

.alert-window-btn {
    display: flex;
    gap: 20px;
}

.type-window-btn button {
    padding: 4px 12px;
    border-radius: 10px;
    transform-origin: center;
    transition: 0.15s ease;
    cursor: pointer;
}

.alert-window-btn button {
    height: 40px;
    padding: 4px 12px;
    border-radius: 10px;
    transform-origin: center;
    transition: 0.15s ease;
    cursor: pointer;
}

.type-window-btn button:not(:disabled):hover {
    transform: scale(1.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.alert-window-btn button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.type-window-btn button:disabled {
    cursor: not-allowed;
}

dialog[open] {
    animation: popup-in 0.4s ease;
}

dialog.closing {
    animation: popup-out 0.2s ease;
}

dialog[open]::backdrop {
    animation: backdrop-fade-in 0.4s ease forwards;
}

dialog.closing::backdrop {
    animation: backdrop-fade-out 0.2s ease forwards;
}

@keyframes popup-in {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }
    60% {
        opacity: 1;
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes popup-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes backdrop-fade-in {
    0% {
        background: rgba(0,0,0,0);
        backdrop-filter: blur(0px);
    }
    100% {
        background: rgba(0,0,0,0.3);
        backdrop-filter: blur(10px);
    }
}

@keyframes backdrop-fade-out {
    0% {
        background: rgba(0,0,0,0.3);
        backdrop-filter: blur(10px);
     }
    100% {
        background: rgba(0,0,0,0);
        backdrop-filter: blur(0px);
    }
}
